
<header>

  <a href="/">
    <img class="me" src="http://subinabid.xyz/assets/me.jpg" />
  </a>

  <ul class="icons">
    <li>
      <a href="/about.html" title="About me">
        <i class="fa fa-user"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/subinabid" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="https://facebook.com/subinabid" title="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>


    <li>
      <a href="/Subin Abid.pdf" title="Resume">
        <i class="fa fa-id-card"></i>
      </a>
    </li>

  </ul>
</header>
