Skip to content
This repository
Search
Pull requests
Issues
Gist
 @subinabid
 Sign out
 Watch 1
  Star 1
  Fork 2 jaseemabid/jaseemabid.github.com
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs
Branch: master Find file Copy pathjaseemabid.github.com/_includes/header.html
4fb3e1d  on Mar 24
@jaseemabid jaseemabid Add resume
1 contributor
RawBlameHistory     
46 lines (37 sloc)  864 Bytes
<header>

  <a href="/">
    <img class="me" src="/images/me.jpg" />
  </a>

  <ul class="icons">
    <li>
      <a href="/about.html" title="About me">
        <i class="fa fa-user"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/jaseemabid" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="https://facebook.com/jaseemabid" title="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/jaseemabid" title="Github">
        <i class="fa fa-github"></i>
      </a>
    </li>

    <li>
      <a href="/feed.xml" title="Subscribe to feeds">
        <i class="fa fa-rss"></i>
      </a>
    </li>

    <li>
      <a href="/Jaseem Abid.pdf" title="Resume">
        <i class="fa fa-id-card"></i>
      </a>
    </li>

  </ul>
</header>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
